<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/_layout::Layout(~{::body})}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
<section>
	
	<div class="dash-content">
		<div class="overview">
			<div class="title">
				<i class="uil uil-tachometer-fast-alt"></i>
				<span class="text">Dashboard</span>
			</div>
			
			<div class="boxes">
				<div class="box box1">
					<i class="uil uil-user"></i>
					<span class="text">Total User</span>
					<span class="number">50,120</span>
				</div>
				<div class="box box2">
					<i class="fa fa-address-card" style='font-size:50px;'></i>
					<span class="text">Total Contact</span>
					<span class="number">20,120</span>
				</div>
				<a onclick="getRequest()" data-toggle="modal" data-target="#exampleModalCenter">
					<div class="box box3" style="width:400px">
						<i class="fas fa-user-friends" style='font-size:50px;'></i>
						<span class="text">New ServiceMan Request</span>
						<span class="number" th:text="${count}">10,120</span>
					</div>
				</a>
			</div>
		</div>
		
		
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
			 aria-hidden="true" id="exampleModalCenter">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header primary-background text-white text-center">
						<h5 class="modal-title" id="exampleModalLabel">Atul Blog</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container text-center">
							<div id="request"></div>
						
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="activity">
			<div class="title">
				<i class="uil uil-clock-three"></i>
				<span class="text">Recent Activity</span>
			</div>
			
			
			<table class="table">
				<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th scope="col">NAME</th>
					<th scope="col">ISACTIVE</th>
					<th scope="col">JOINDATE</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th scope="row"> id</th>
					<td>Mark</td>
					<td>Otto</td>
					<td>@mdo</td>
				</tr>
				
				</tbody>
			</table>
		</div>
	</div>
	
	
	<script>
	
	
	</script>
</section>
</body>
</html>