<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{/user/_layout::Layout(~{::body})}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
<section>
	<div class="container mt-2">
		<div class="justify-content-center">
			<div class="md-8">
				<div class="card">
					<div class="card-header text-center">
						History
					</div>
					
					<div class="card-body table-responsive" id="history">
						<table class="table table-hover">
							<thead>
							<tr>
								<th scope="col">RequestId</th>
								<th scope="col">Service</th>
								<th scope="col">Booking Date</th>
								<th scope="col">Action</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="history:${ServiceStatusCompleted}">
								<td th:text="${history.service_request_number}">Otto</td>
								<td th:text="${history.service.service_name}">Mark</td>
								<td th:text="${history.booking_date}">Otto</td>
								<td><a
										class="btn btn-info btn-sm text-white" data-toggle="modal"
										data-target="#exampleModalCenter"
										th:onclick="setData(/*[[${history.booking_id}]]*/)">Status</a>
								<button type="button" class="btn btn-success btn-sm" data-toggle="modal" th:data-target="'#exampleModal-' + ${history.booking_id}">Feedback</button>
								</td>
							
<!--								feedback form-->
								<div id="feedback-form-modal">
									<div class="modal fade" th:id="'exampleModal-' + ${history.booking_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">Feedback Form</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">
													<form th:action="@{/user/feedback-data}" method="post">
														<input type="text" name="booking_id" th:value="${history.booking_id}" hidden="hidden">
														<div class="form-group">
															<label>How likely you would like to recommand us to your friends?</label>
															<div class="rating-input-wrapper d-flex justify-content-between mt-2">
																<label><input type="radio" name="rating" value="1" /><span class="border rounded px-3 py-2">1</span></label>
																<label><input type="radio" name="rating" value="2"/><span class="border rounded px-3 py-2">2</span></label>
																<label><input type="radio" name="rating" value="3" /><span class="border rounded px-3 py-2">3</span></label>
																<label><input type="radio" name="rating" value="4"/><span class="border rounded px-3 py-2">4</span></label>
																<label><input type="radio" name="rating" value="5"/><span class="border rounded px-3 py-2">5</span></label>
																<label><input type="radio" name="rating" value="6" /><span class="border rounded px-3 py-2">6</span></label>
																<label><input type="radio" name="rating" value="7"/><span class="border rounded px-3 py-2">7</span></label>
																<label><input type="radio" name="rating" value="8"/><span class="border rounded px-3 py-2">8</span></label>
																<label><input type="radio" name="rating" value="9"/><span class="border rounded px-3 py-2">9</span></label>
																<label><input type="radio" name="rating" value="10"/><span class="border rounded px-3 py-2">10</span></label>
															</div>
															<div class="rating-labels d-flex justify-content-between mt-1">
																<label>Very unlikely</label>
																<label>Very likely</label>
															</div>
														</div>
														<div class="form-group">
															<label for="input-two">Would you like to say something?</label>
															<textarea class="form-control" id="input-two" rows="3" name="description"></textarea>
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
															<button type="submit" class="btn btn-primary">Submit</button>
														</div>
													</form>
												</div>
												
											</div>
										</div>
									</div>
								</div>
					
							</tr>
							</tbody>
						</table>
					
					</div>
					
					<div aria-label="Page navigation" th:if="${ServiceStatusCompleted!=null}" >
						<ul class="pagination justify-content-center">
							<li th:if="${currentPage != 0 }" class="page-item">
								<a class="page-link"
								   th:href="@{'/user/booking-history/' + ${currentPage - 1}}">Previous</a>
							</li>
							<li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"
								th:classappend="${currentPage == i-1 ? 'active' : ''}">
								<a class="page-link" th:href="@{'/user/booking-history/' + ${i-1}}">
									<span th:text="${i}"></span>
								</a>
							</li>
							<li th:if="${currentPage + 1 != totalPages}" class="page-item">
								<a class="page-link" th:href="@{'/user/booking-history/' + ${currentPage + 1}}">Next</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center" id="exampleModalLongTitle">Status And Schedule</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body">
<!--					<div class="schedule"></div>-->
<!--					<br>-->
<!--					<div class="progress-container">-->
<!--						<p class="left-heading">Pending</p>-->
<!--						<div class="progress-bar">-->
<!--							<div class="progress" id="progress"></div>-->
<!--						</div>-->
<!--						<p class="right-heading">Completed</p>-->
<!--					</div>-->
					<section class="root">
						<figure>
							<figcaption>
								<h4 class="big-text" id="booking-id"></h4>
								<h6 class="big-text" id="booking_address"></h6>
								<h2 class="big-text" id="booking-date" ></h2>
							</figcaption>
						</figure>
						<div class="order-track">
							<div class="order-track-step">
								<div class="order-track-status">
									<span class="order-track-status-dot"></span>
									<span class="order-track-status-line"></span>
								</div>
								<div class="order-track-text">
									<p class="order-track-text-stat">Booking Date</p>
									<span class="order-track-text-sub" id="order-track-text-sub1"></span>
								</div>
							</div>
							<div class="order-track-step">
								<div class="order-track-status">
									<span class="order-track-status-dot"></span>
									<span class="order-track-status-line"></span>
								</div>
								<div class="order-track-text">
									<p class="order-track-text-stat" id="order-track-text-stat2"> </p>
									<span class="order-track-text-sub" id="order-track-text-sub2"></span>
								</div>
							</div>
							<div class="order-track-step">
								<div class="order-track-status">
									<span class="order-track-status-dot"></span>
									<span class="order-track-status-line"></span>
								</div>
								<div class="order-track-text">
									<p class="order-track-text-stat" id="order-track-text-stat3"> </p>
									<span class="order-track-text-sub" id="order-track-text-sub3"></span>
								</div>
							</div>
						</div>
					</section>
				</div>
			
			</div>
		</div>
	</div>
	
	<link rel="stylesheet" th:href="@{/css/ForUser.css}"/>
</section>
</body>
</html>