.back_fix{
background:linear-gradient(rgba(51, 44, 44, 0.5),rgba(0,0,0,0.8)),url('https://media.istockphoto.com/id/588979318/photo/portrait-of-cheerful-man-at-the-cash-desk-working.jpg?s=1024x1024&w=is&k=20&c=V4mVFrL6wMlRre7fPAOBk0PKltX25jACeJmekxpo8e8=');
    background-position: center 65%;
    background-size: cover;
    background-attachment: fixed;
}